---
import Test from "./translation.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script type="module" is:inline>
			import eruda from "https://esm.sh/eruda";

			eruda.init();
		</script>
        <script src="./navigate.js"></script>
	</head>
	<body>
		<h1>Astro</h1>
		<Test name />

	</body>
</html>
